extends layout
block main-content
  h1 Libraries 
  .div 
    each l in library
      -let name=l.querySelector("name").textContent;
      -let description=l.querySelector("description").textContent;
      -let address=l.querySelector("address").textContent;
      -let phoneNumber=l.querySelector("phoneNumber").textContent;
      //- -let PlacemarkId=l.querySelector(":id").textContent;
      h2
        a(href=`/${l["@id"]}`) #{name}
      p #{address}
      p #{phoneNumber}
      p #{description}
