extends layout
block main-content
  .div 
    each l in library
      -let name=l.querySelector("name").textContent;
      -let description=l.querySelector("description").textContent;
      -let address=l.querySelector("address").textContent;
      -let phoneNumber=l.querySelector("phoneNumber").textContent;
      -let libraryID=l.id
      h2
        a(href=`/${libraryID}`) #{name}
        //- -console.log(`${libraryID}`)
        //- -console.log(l.getAttribute("#libraryID"))
      p Address: #{address}
      p Phone Number: #{phoneNumber}
      p Description: #{description}
